

.allev-pagination{
display:flex;
}
.init-pagination{
display:none;
}
.rece-pagination{
display:none;
}
/* Style the select element */
#drops {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('meatballs.png') no-repeat;
  background-position: center;
  padding: 10px ;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

/* Style the dropdown menu */
#drops option {
  background-color: #fff;
  color: #555;
}

/* Style the dropdown menu when it is open */
#drops:focus, #drops:active {
  outline: none;
  border: 1px solid #66afe9;
  box-shadow: 0 0 5px rgba(0, 140, 186, 0.5);
}

/* Style the meatballs icon */
#drops::-ms-expand {
  display: none;
}

#drops::-webkit-scrollbar {
  width: 10px;
}

#drops::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

#drops::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  background:#FFFFFF;
  color:#FFB201;
  border:none;
  user-select: none;
}

#bidballnone{
background: #BEBEBE;;
height: 25px;
width: 25px;
border-radius: 50px;
margin-top:-50%;
text-align:center;
justify-content:center;
align-items:center;
color:white;

}
#bidball{
background: #B3DBAF;
height: 25px;
width: 25px;
border-radius: 50px;
margin-top:-50%;
text-align:center;
justify-content:center;
align-items:center;
color:white;

}
.btnsave{
background: #575757;
 height:40px;
border-radius: 20px;
color: #FFFFFF;
margin-bottom:5px;
}
.accfield{
background: #F3FBFF;
border-radius: 5px;
margin:5px;
margin-left:20px;
width:92%;
}
.drops {
border: 1px none #fff;
    background-color: transparent;
  }


.chat-container{
width:100%;
display:flex;
justify-content:center;
align-items:center;


 }
.msblockhead{
width: 100%;
top: 10%;
height: 122px;
}
.msblock{
position: absolute;
width: 50%;
height: 1024px;
left: 742px;
top:7.5%;
height: 100vh;
left: 49.5%;

background: #D9D9D9;
}
.msnumber{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
right:40%;
margin-top: 10%;
line-height: 19px;
position:absolute;
color: #575757;
}
.msname{
position: absolute;
right:40%;
margin-top:6px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;


color: #000000;
}
.messageside{
position: absolute;
width: 578px;
height: 1024px;
left: 742px;
top: 0px;

background: #D9D9D9;
}
.readbox{
background: #FFFFFF;
height: 103px;
width: 312px;
margin-top:70px;
padding:2px;
border-radius: 25px;
}
.senderbox{
background: #D9D9D9;
height: 103px;
width: 312px;
margin-top:70px;
padding:2px;
border-radius: 25px;
}
.del{
position: absolute;
left: 55.13%;
right: 15.08%;
top: 17.65%;
bottom: 15.69%;
width:151px;
height:34px;
display:flex;
justify-content:center;
align-items:center;
background: #D9D9D9;
border-radius: 15px;
}
.general{
position: absolute;
left: 3.35%;
right: 48.88%;
top: 17.65%;
bottom: 15.69%;
width:151px;
height:34px;
display:flex;
justify-content:center;
align-items:center;
background: #FFFFFF;
border-radius: 15px;
}
.tabchat{
position: absolute;
background: #D9D9D9;
height: 51px;
width: 358px;
border-radius: 20px;
top: 20%;
margin-left: 8%;
}
.messageheader{
position: absolute;
top: 11%;
margin-left: 15%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;

color: #000000;

}
.message{
position: absolute;
width: 305px;
height: 56px;

top: 2%;
margin-left: 15%;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;

color: #000000;

}
.mymessages{
box-sizing: border-box;

position: absolute;
width: 429px;
top:7.5%;
height: 100vh;
left: 18%;


border: 1px solid #BEBEBE;
}
#undernhead{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #575757;
}
#nhead{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #000000;

}
.fications{
position: absolute;
width: 95%;
height: 88px;
margin: 10px;
background: #D9D9D9;
border-radius: 5px
}
.notif{
box-sizing: border-box;

position: absolute;
width: 434px;
height: 132px;
left: 549px;
top: 345px;

background: #EFEFEF;
border: 1px solid #BEBEBE;
border-radius: 10px;
}
.changepw{

box-sizing: border-box;

position: absolute;
width: 434px;
height: 252px;
left: 549px;
top: 38px;

background: #FFFFFF;
border: 1px solid #BEBEBE;
border-radius: 10px;
}
.editprof{
box-sizing: border-box;

position: absolute;
width: 510px;
height: 451px;
left: 25px;
top: 38px;

background: #FFFFFF;
border: 1px solid #BEBEBE;
border-radius: 10px;
}

.accountbox{
position: absolute;
width: 90%;
height: 505px;
margin:10px;

background: #FFFFFF;
border-radius: 10px;
}

#recbar{
cursor: pointer;
font-size:20px;
position: absolute;
    width: 145px;
    height: 54px;
left: 78%;
background: #FFFFFF;
border-radius: 5px;
display:flex;
justify-content:center;
align-items:center;
}
#intbar{
cursor: pointer;
font-size:20px;
position: absolute;
    width: 145px;
    height: 54px;
left: 40.5%;
background: #FFFFFF;
border-radius: 5px;
display:flex;
justify-content:center;
align-items:center;
}

#allbar{
position: absolute;
    width: 145px;
    height: 54px;
    font-size:20px;
    margin-left:30px;

cursor: pointer;
display:flex;
justify-content:center;
align-items:center;

background: #0288CC;
border-radius: 5px;
}

#tabbar{
padding: 14px;
    margin: 15px;
    position: absolute;
    width: 90%;
    height: 83px;
    left: 30px;
    top: 70%;
    border: 2px solid rgba(0, 51, 77, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
}
.repreq{
background: #FFFFFF;
border-radius: 11px;
margin-left:60%;
top:196px;
height: 30px;
width: 85px;
position:absolute;
display:flex;
justify-content:center;
align-items:center;
}

.create2box{
position: absolute;
margin-left: 15%;
margin-top: 80px;
height: 30px;
width: 90px;
padding:2px;
background: #F6F6F6;
border-radius: 5px
}

.sr2box{
/* Rectangle 59 */
justify-content:center;
align-items:center;
height:32px;
width:70px;
position: absolute;
left: 53.67%;
right: 33.59%;
top: 47.77%;
bottom: 39.12%;
padding:5px;
background: #F3FBFF;
border-radius: 5px;
}
.crsr{
position: absolute;
left: 26%;

top: 47.77%;
bottom: 40.08%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;

color: #00334D;

}
#requestcrup{
background: #FFFFFF;
border-radius: 11px;
margin-left:60%;
top:92px;
height: 30px;
width: 85px;
position:absolute;
display:flex;
justify-content:center;
align-items:center;
}
#crbox{
position: absolute;
margin-left: 15%;
margin-top: 80px;
height: 30px;
width: 90px;
background: #F3FBFF;
border:none;
border-radius: 3px;
display:inline-block;
}

optgroup { font-size:15px; }

#currenci{
width:60px;
height:20px;
border: 1px none #fff;
    background-color: transparent;
}
#acceptrequest{
background: #0288CC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
width: 270px;

margin-top:32%;
position:absolute;
color:#FFFFFF;
}

#requestr{
background: white;
border-radius: 11px;
margin-left:47%;
top:197px;
height: 30px;
width: 85px;
position:absolute;
display:flex;
font-size:10px;
justify-content:center;
align-items:center;
}
#requestg{
background: white;
border-radius: 11px;
margin-left:47%;
top:135px;
height: 30px;
width: 85px;
position:absolute;
display:flex;
justify-content:center;
align-items:center;
}
#recievingflip{
background: rgba(109, 194, 102, 0.21);
border-radius: 5px;
width:40%;
height:35%;
padding-bottom:2px;
margin-top:0;
z-index:3;
}
#giveflip{
background: #F3FBFF;
border-radius: 5px;
width:40%;
height:35%;
margin-top:5%;
margin-bottom:0;
z-index:3;
}

#flip{
background: #FFFFFF;
border-radius: 20px;
line-height:13px;
width: 270px;
height:130px;
margin-bottom:55px;
}
.centbox{
width:133%;
height:60%;
padding:4px;

display:flex;
justify-content:center;
align-items:center;
}
#brbox{
height: 26px;
width: 80px;

background: #F3FBFF;
border: 1px solid #6DC266;
border-radius: 5px;
position:absolute;
top:24%;
margin-left:95px;
display:flex;
justify-content:center;
align-items:center;
}
#Br{
font-family: 'Open Sans';
padding:10px;
margin-top:60px;
margin-left:190px;


font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 27px;
display:inline-block;
color: #6DC266;
}

#srbox{
height: 26px;
width: 80px;
border-radius: 5px;
background: #F3FBFF;
position:absolute;
margin-top:70px;
margin-left:110px;
display:flex;
justify-content:center;
align-items:center;
}


#systemr{
position: absolute;
display:inline-block;
padding:10px;
margin-top:60px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 27px;

color: #00334D;
}

#popbox2h2{

margin-top:10px;
position: absolute;
left: 6.09%;
top: 11.95%;
bottom: 83.67%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height */


color: #575757;


}

#popbox2h{
position: absolute;
left: 5.75%;
top: 2.79%;
bottom: 88.45%;
padding:5px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
/* identical to box height */


color: #575757;
}
#poph2v{
margin-top:10px;
position: absolute;
left:10%;
top: 11.95%;
bottom: 83.67%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height */


color: #575757;

}
#pophv{
position: absolute;
left: 25.75%;
top: 2.79%;
bottom: 88.45%;
padding:5px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
/* identical to box height */


color: #575757;
}
#poph2{
margin-top:10px;
position: absolute;
left:10%;
top: 11.95%;
bottom: 83.67%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height */


color: #575757;

}
#poph{
position: absolute;
left: 25.75%;
top: 2.79%;
bottom: 88.45%;
padding:5px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
/* identical to box height */


color: #575757;
}
.popup2box{
left:40%;
top:20%;
background: #FFFFFF;
border: 3px solid rgba(0, 51, 77, 0.25);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
padding:10px;
width:391px;
display:none;
position: absolute;
height:302px;
box-sizing: border-box;
z-index: 1;
}
.popup{
left:40%;
top:20%;
background: #FFFFFF;
border: 3px solid #BEBEBE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px
padding:10px;
width:391px;
display:none;
position: absolute;
height:302px;
box-sizing: border-box;
z-index: 1;
}



#native{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #6DC266;
;
}
#base{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #70BAD1;
}
.alert{
    left: 43%;
    width: 490px;
}
#ms{
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
margin-top: 4.6%;
position: relative;
right: 53.8%;
color: #000000;

}
.v32:740 {
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 58px;
display: inline;
color: #000000;
right:60%;
opacity: 1;
position:absolute;
}
#trade{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
/* identical to box height */
top:50%;
position:absolute;
color: #000000;
}
#createbox:hover {
  background-color: #0077C0;
  color: white;
  cursor: pointer;
}

#createbox{
box-sizing: border-box;
width:100%;
height:100%;
left: 200%;
top:10%;
justify-content: center;
 align-items: center;
 display:flex;
position: absolute;
background: #0288CC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.create{
position: absolute;
width: 187px;
height: 40px;
left:40%;
top:13%;


}
#upbox2{
position:absolute;
width:82%;
height:275px;
padding:30px;
left:18vw;

}
#upbox{
position:absolute;
width:82%;
height:100%;
padding:30px;
left:18vw;
bottom:49%;
}
#upbox{
position:absolute;
width:82%;
height:275px;
padding:30px;
left:18vw;
bottom:49%;
}
#centerbox{
width:81%;
position:absolute;
left:18vw;
top:55%;
}
.demTable {
			width:100%;
			border-top: 1px solid #BEBEBE;
			border-collapse:collapse;
			padding:5px;
		}
		.demTable th {
			border-top: 1px solid #BEBEBE;
			padding:5px;
			background: #ffffff;
			color: #BEBEBE;
			font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
		}
		.demTable td {
			border-top: 1px solid #BEBEBE;
			text-align:center;
			padding:5px;
			background: #ffffff;
			color: #BEBEBE;
			font-size: 16px;
		}

.footernote{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 6px;
/* identical to box height */
color: #575757;

}
.sidenavitem3{
position: absolute;
width: 90%;
height: 47px;
left:10%;
justify-content: left;
 align-items: left;
 display:flex;
background: #FFFFFF;
top:92%;
}
.sidenavitem2{
position: absolute;
width: 90%;
height: 20px;
left:10%;
margin-left:0px;
display:flex;
 justify-content: left;
 align-items: left;
top:87%;
padding:0px;
background: #FFFFFF;
}
.sidenavitem1{
position: absolute;
width: 90%;
height: 47px;
left:10%;

justify-content: left;
 align-items: left;
 display:flex;
background: #FFFFFF;
padding:0px;
top:51%;
}
.sidenavitem{
position: absolute;
width: 90%;
height: 47px;
left:10%;
margin-top:10px;
justify-content: left;
 align-items: left;
 display:flex;
background: #FFFFFF;
margin-left:0px;
top:67%;
}

.listing{
padding-top:20px;
}


.listc{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;
text-align:left;
color: #000000;
}
.listb{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 10px;
text-align:left;
color: #000000;
padding:30px;
}
.basepick2{
position: absolute;
width: 7px;
height: 18px;
margin-right:107%;

background: #000000;
}
.basepick{
position: absolute;
width: 7px;
height: 18px;
margin-right:90%;

background: #000000;
}
.nonbasep{
position: absolute;
width: 95%;
height: 47px;
left: -10%;
margin-left:0px;

 justify-content: center;
 align-items: center;
 display:flex;
background:#D9D9D9;
border-radius: 20px;
top: 56%;

}
.nonbasedol{
position: absolute;
width: 95%;
height: 47px;
left:-10%;
top: 49%;

 justify-content: center;
 align-items: center;
 display:flex;
background:#D9D9D9;
border-radius: 20px;

}
.ghbase{
position: absolute;
width: 95%;
height: 47px;
left:-10%;
top: 40%;
 justify-content: center;
 align-items: center;
 display:flex;
background: #EFEFEF;
border-radius: 20px;
}

.bottom-divider{
border: 1px solid #BEBEBE;

width: 100%;
}
.divider{
border: 1px solid #BEBEBE;


width: 100%;
}
.quarterbox{
width: 100%;
height: 38%;
 justify-content: center;
 align-items: center;
 display:flex;
 #background: #FFFFFF;;


}
.quarterbox2{
width: 100%;
height: 29%;
 justify-content: center;
 align-items: center;
 display:flex;
 background: #FFFFFF;
}

.quarterbox3{
width: 100%;
height: 45%;
 justify-content: center;
 align-items: center;
 display:flex;
 background: #FFFFFF;


}

#accheader{
position: absolute;
top: 33%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 16px;

color: #575757;
}


#userid {
position: absolute;

top: 27%;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 5px;
/* identical to box height */


color: #000000;

}
#leftbox{
position: absolute;
width: 18vw;
height: 100vh;
background: #FFFFFF;
left: 0px;
top: 0px;

}

.form-group{
font-size:12px;
}

#fieldtag{
  display: inline-block;
  margin-right: .5em;
  padding-bottom:10px;
  font-size:10px;
}

.signinbutton {
justify-content:center;
align-items:center;
background: #0288CC;
border-radius: 5px;
width: 247px;
height: 41px;
color: #FFFFFF;
border: 7px solid #0288CC;
}

.inlineb{
display:inline-block;
}

#leftcent{
text-align:left;
}


.resetHeader{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height:20px;
text-align:center;
color: #000000;
}

.signupHeader{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height:20px;
text-align:center;
color: #000000;
}

.loginHeader{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height:27px;
text-align:center;
color: #000000;
}

.signupdetails{
line-height: 0.5px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;

font-size: 14px;
color: #000000;
}

.resetdetails{
line-height: 97px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;

font-size: 14px;
color: #000000;
}
.logindetails{
line-height: 47px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;

font-size: 14px;
color: #000000;
}

#currency {
font-size: 10px;
text-align:center;
}

#fromto {
font-size: 10px;
}
.figures {
font-size: 10px;
}

#price{
font-size: 10px;
font-weight: 700;
}

.negative{
background: rgba(249, 172, 172, 0.7);
font-size: 16px;
}

.positive{
background: rgba(179, 219, 175, 0.7);
font-size: 16px;
}

.centerbuttons {
right:80%;
    justify-content: center;
    align-items: center;
    height:50vh;
    display:block;

}

table {
	width:100%;
	height:70%;
	border:24px none #ffffff;
	border-collapse:collapse;
	padding:9px;
		}
table th {
			border:24px none #ffffff;
			padding:9px;
			background: #ffffff;
			text-align:center;
			font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;

		}
table td {
			border:24px none #ffffff;
			text-align:center;
			padding:9px;
			background: #ffffff;
			color: #313030;
			font-size: 10px;
		}
{{!-- phone screen note - position: relative --}}

.homepagecurrency{
        padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 1%;
    padding-top: 5px;
    box-sizing: border-box;
    position: fixed;
    width: 78%;
    height: 57%;
    left: 14%;
    top: 35%;
    margin-bottom: 10%;
    margin-top: 30px;
    background: #FFFFFF;
    border: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.signuptitle{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
    justify-content: center;
    align-items: center;
color: #000000;

}

.signupcard{
height: 61px;
width: 213px;
box-sizing: border-box;
padding: 14px;
position:absolute;
border-radius: 5px;
background: #D9D9D9;
margin-top:70px;
 justify-content: center;
    align-items: center;
    display:flex;
    cursor:pointer;

}

.logintitle{
position: absolute;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: white;
}
.logincard{
color:white;
height: 61px;
width: 213px;
box-sizing: border-box;
padding: 14px;
border: 1px solid #575757;
border-radius: 5px;
background: #0288CC;
margin-bottom:70px;
 justify-content: center;
    align-items: center;
    display:flex;
cursor:pointer;

}



.gs{
/* GET STARTED */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */

color: white;
}

.get-startedbutton{
position: fixed;
width: 271px;
height: 71px;
left: 204px;
top: 252px;
background: #575757;
border-radius: 25px;
color:#FFFFFF;

}
.substatement{
position: fixed;
width: 609px;
height: 71px;
left: 197px;
top: 149px;
margin-top:10px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;



}

.statement{
position: fixed;
width: 605px;
height: 96px;
left: 197px;
top: 60px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.Logincontainer{
width: 100vw;
height: 100vh;
 justify-content: center;
 align-items: center;
 display:flex;


}

.homeContainer{
position: fixed;
width: 100vw;
height: 73vh;
left: 0px;
top: 45px;

background:#1A4160;
;
}
/* for table header cells that should be sorted */
.sort {
  cursor: pointer;
}

/* for table header cells that should not be sorted */
.no-sort {
  cursor: default;
}
.navtitle{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 30px;
color: #1B5D99;
}


body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
    max-width:1000px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #FFFFFF;
;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #F3FBFF;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section2 {
  padding: 15px 20px;
  margin-top:25px;
  margin-bottom: 40px;
background: #FFFFFF;
border: 1px solid rgba(0, 133, 255, 0.25);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
width: 476px;
height: 692px;
text-align:center;
}

.content-section {
  padding: 10px 20px;
  margin-bottom: 150px;
background: #FFFFFF;
border: 2px solid rgba(27, 93, 153, 0.25);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
width: 476px;
height: 502px;
text-align:center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.prevBtn{
background-color: #0288CC;
color:white;
border-radius:15px;
}
.nextBtn{
background: #0288CC;
color:white;
border-radius:15px;
}
